code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-bg-color: #1e0500;
  --main-light-color: #c2c2c2;
  --first-accent-color: #c32222;
  --second-accent-color: #08e9e6;
  --header_height: 50px;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  color: var(--main-light-color);
}

.links{
  margin-left: 10px;
  cursor: pointer;
}

.links:active{
  color: white;  
}

h1 span{
  color: var(--second-accent-color);
}

.links:hover{
  color: var(--second-accent-color);
}

.banner{
  background-color: black;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.banner h1{
  font-size: 80px;
  z-index: 2;
  color: rgba(255,255,255,0.8);
}

.banner_logo{
  opacity: 0.8;
  width: 400px;
  height: 400px;
  transition: all 0.5s;
  z-index: 3;
}

.banner_logo:hover{  
  transform: rotate(360deg);
}

.banner_video{
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.cart{
  background-color: var(--main-light-color);
}

.cart h2{
  color: #222;
}

.form_style{
  background-color: var(--main-light-color);
  max-width:800px;
  min-height:400px;
  margin: 0 auto;
  box-shadow:2px 2px 2px 2px #000;
  border-radius: 10px;
  font-size: 30px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.form_style input{
  height: 40px;
  border-radius: 4px;
  min-width: 300px;
}

.form_style *{
  color: #000;
}

.form_submit{
  height: 40px;
  background-color: #555;
  color: var(--main-light-color);
  cursor: pointer;
  margin: 5px 0 5px 5px;
  transition: all 0.5s;
}

.form_submit:hover{
  color: #222;
}

.items_container{
  background-color: rgba(0,0,0,0.8);
  max-width:1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--main-light-color);
  padding: 20px;
}

.items_container img{
width: 100%;
}

a, u{
  text-decoration: none;
  color: var(--main-light-color);
}

a:hover, a:active{
  color: initial;
  text-decoration: none;
}

html, body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*display: flex;
  flex-direction: column;*/
  height: 100%;
  margin: 0;
  padding:0;
  background-color: var(--main-bg-color);
}

#root > div{
  display: flex;
  flex-direction: column;
}

header{
  background-color: rgba(0,0,0,0.8);
  flex:0;
  width: 100%;
  position: fixed;
  height: var(--header_height);
  z-index: 50;
}

header section{  
  justify-content: space-between;    
}

header *{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 2px;
  white-space: nowrap;
}

header img{
  width: 36px;
  height: 36px;
}

#logo:hover {
  transform: rotate(360deg);
}
main{
  flex: 1;
  padding-top: 70px;
  min-height: calc(100vh - 190px);
}

main section{
}

footer{
  background-color: rgba(0,0,0,0.8);
  flex: 0 0 100px;
  height: 100px;
  margin-top: 20px;
  text-align: center;
}

footer section{   
  color: var(--main-light-color);
  line-height: 100px;
  overflow: hidden;
}

.content{
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;  
}

.top_ranked{
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-image: url(./pattern.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-color: black;
}

.item_card_TD{
  flex: 1;
  background-color: rgba(0,0,0,0.8);
  min-width:400px;
  margin: 10px;
  border: 2px ridge #222;
  display: flex;
  max-height: 175px;
  color: #c2c2c2;
  transition: all .5s;
}

.past_order * {
 color: #c2c2c2;
}
.past_order {
  max-width: 50%;
  margin: 0 auto;
  border: 3px white solid

}

.past_order img{
  max-width: 200px;
  max-height: 200px;
}

.item_card_TD img{
  width:175px;
  height:175px;
  background-color: #1e0500;
}

.item_card_TD div{
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}

.item_card_TD h3{
  border-bottom: 1px solid #c2c2c2;
}

.item_card_TD p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3; 
  -webkit-box-orient: vertical;
}

.item_card_TD div div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 35px;
}

.item_card_TD div div *{
  margin-right: 10px;
  transition: all .5s;
}

video{
  width: 100%;
}

.thumbs{
  cursor: pointer;
}

.thumbs:hover{
  background-color: #1e0500;

}

.items_buttons{
  margin: 10px;
  min-width:150px;
  min-height:40px;
}

button{
  background-color: var(--main-light-color);
  color: #1e0500;
  border: none;
  cursor: pointer;
  height: 100%;
}

button:hover{
  background-color: var(--second-accent-color);
}


@media only screen and (max-width: 1288px) {
  
  .item_card_TD:nth-last-child(-n+3){
      max-width:48%;
  }
}


@media only screen and (max-width: 864px) {
  .item_card_TD:nth-last-child(-n+3){
      max-width:100%;
  }
  #top_ranked{
      justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .item_card_TD{
      max-height:none;        
      flex-wrap: wrap;
      min-width:100%;
      justify-content: center;
      text-align: center;
  }

  .desc{
      min-height: 100px;
      max-height: none;
  }

  .thumbs{
    min-height: 20px;
    max-height: none;
    border: 2px solid var(--main-light-color);
    border-radius: 4px;
  }

  .item_card_TD img{
      width:175px;
      height:175px;
  }
  .item_card_TD div{
      min-width: 100%;
  }

  .item_card_TD div div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-height: none;
  }

  .item_card_TD div div *{
      margin:5px;
  }

  h1{
      display: none;
  }
}
