:root{
    --main-bg-color: #1e0500;
    --main-light-color: #c2c2c2;
    --first-accent-color: #c32222;
    --second-accent-color: #08e9e6;
}

html, body{
    
}

header{

}

header section{

}

main{
}